- title "New variant for #{@product.name}"

%section.content

  %header
    %h2= "New variant for #{@product.name}"
    %nav.links_row
      %ul
        %li= link_to 'Cancel', admin_product_path(@product)

  %section.details

    = render 'form'