- title "Edit #{@product.name}"

%section.content

  %header
    %h2= "Editing #{@product.name}"
    %nav.links_row
      %ul
        %li= link_to 'Cancel', admin_products_path

  %section.details

    = render 'form'