- title "Edit #{@category.name}"

%section.content

  %header
    %h2= "Editing #{@category.name}"
    %nav.links_row
      %ul
        %li= link_to 'Cancel', admin_categories_path

  %section.details

    = render 'form'